name: Update badges
on:
    schedule: # run workflow based on schedule
      - cron: '0 18 * 12 *'                      # every day of December&January at 6pm

  workflow_dispatch:                             # allow to manually start the workflow

  # push:                                          # (disabled) run on push, be careful with this setting
  # as the workflow should only be triggered at a rate lower than
  # 4 times a hour to keep traffic on aoc site low
jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2

      - uses: joblo2213/aoc-badges-action@v3
        with:
          userid: ${{ secrets.AOC_USERID }}
          session: ${{ secrets.AOC_SESSION }}
          year: 2025
          starsRegex: '(?<=https:\/\/img\.shields\.io\/badge\/2025-)[0-9]+(?=_â­-dodgerblue)' # regex to find the badge

      - uses: stefanzweifel/git-auto-commit-action@v5.0.1     # push these local changes
        with:
          commit_message: Update badges
          file_pattern: README.md
